@import 'tailwindcss';

@font-face {
    font-family: 'Formula1';
    src: url('/fonts/Formula1-Bold-4.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Formula1';
    src: url('/fonts/Formula1-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'RiaSans';
    src: url('/fonts/RiaSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'RiaSans';
    src: url('/fonts/RiaSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

/* 기본 스타일 */
:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Formula1', 'RiaSans', sans-serif;
}

@layer utilities {
    /* Chrome, Safari, Edge 등 WebKit 기반 브라우저용 */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* Firefox 용 */
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
/* 기본 비밀번호 보기 아이콘 숨기기 (Edge, IE) */
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
    display: none;
}
