@import 'tailwindcss';

@font-face {
    font-family: 'Formula1';
    src: url('/fonts/Formula1-Bold_web_0.ttf') format('truetype');

    font-weight: bold;
}

@font-face {
    font-family: 'Formula1';
    src: url('/fonts/Formula1-Regular_web_0.ttf') format('truetype');

    font-weight: normal;
}

/* 기본 스타일 */
:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);

    font-family: 'Formula1', sans-serif;
}
